<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Owner/Documents/OrangeHRM_POM">
        <classes>
            <class name="Login.loginTests">
            <methods><include name="testALoginPanel"/>
                <include name="testACompanyLogo"/>
                <include name="testAForgotPassword"/>
                <include name="testAPageTitle"/>
                <include name="getDashboardPage"/>
            </methods>
        </class>
            <class name="setUp.setupTests">
            <methods>
                <include name="testSetup"/>
            </methods>
        </class>
        </classes>
    </test>
</suite>